name: Development

database:
    host: "localhost"
    name: "dbname"
    username: "dbuser"
    password: "dbpass"

canvas:
    url: "http://canvasurl.com"
    access_token: "accesstoken"

domain: 
    port: ":8000"

security:
    secret_key: "super-secret"